.theme{
    --Primary-color:#B88B2D;
    --Secondary-color: #B88B2D;
    --button-color:#B88B2D;
    --button-hover-color: #B88B2D;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
    --gradient: linear-gradient(90deg, #B88B2D, #B88B2D);
}