.theme{
    --Primary-color:#316D9B;
    --Secondary-color: #AF3B6D;
    --button-color:#316D9B;
    --button-hover-color: #AF3B6D;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
    --gradient: linear-gradient(90deg, #316D9B, #AF3B6D);
}